@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
  font-size: 1.6rem;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.grid-container {
    max-width: 980px;
    margin: 0 auto;
}

.hero-container {
  height: 450px;
  background-image: url("/assets/img/Cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  font-family: 'Roboto mono', monospace;  
}

.hero-container > h2 {
  font-size: 3.5rem;
  color: white;
  margin-top: 50px;
  text-align: center;
  align-self: flex-end;
}

.hero-container > button {
  width: auto;
  height: min-content;
  padding: 15px;
  background-color: #47cfac;
  color: black;
  font-weight: 700;
  place-self: center;
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 50px;
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
}

.blogs-main{
    display: grid;
}

.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img{
    width: 85%;
    height: 90%;
}

.blogs-news-info-container {
    grid-column: 2;
    align-self: center;
}

.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-posts-container{
    padding: 0 46px 40px;
}

.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 10px;
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
}

.blogs-main-new h3{
    font-size: 1.8rem;
    margin-bottom: 15px;
    padding-top: 15px;
}

.blogs-button {
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 1.2rem;
}


.blogs-news-info-container h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.blogs-news-info-container p{
    font-size: 1.4rem;
}

.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-posts-container .post-container > p:nth-last-child(2){
    margin-bottom:  35px;
    font-size: 1.3rem;
}

.blogs-posts-container .post-container > p:nth-child(2){
    margin:  20px 0;
    font-size: 1.6rem;
}

.blogs-posts-container .post-container img{
    width: 100%;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;
}

footer p{
    color: white;
    margin-top: 15px;
    font-size: 1.2rem;
}